{% extends "base.html" %}

{% block content %}

<h2>Pods in {% if namespace %} namespace '{{ namespace }}' {% else %} all namespaces {% endif %}</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Namespace</th>
      <th scope="col">IP</th>
    </tr>
  </thead>
  <tbody>
  {% for pod in pods %}
    <tr>
      <th scope="row">{{ pod.metadata.name }}</th>
      <td>{{ pod.status.phase }}</td>
      <td>{{ pod.metadata.namespace }}</td>
      <td>{{ pod.status.pod_ip }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
